

body{
    font-size: 30px;
}




h1 {
    border-bottom: 2px solid black;
    margin-bottom: 0;
    padding-bottom: 20px;
}
div.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: auto;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 12px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0 12px;
    width: 70%;
    height: 300px;
    display: none;
}
.input{
    margin: 15px 16px;
    width: 55%;
    margin-left: 30px;
}
#addInputList{
    margin: 12px 16px;
    width: 90%;
}
div span{
    border-bottom: 1px solid #ccc;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 3px;
    cursor: pointer;
}
.check{
    width: 30px;
    position: relative;
    bottom: 4px;
    cursor: pointer;
}
.fa-trash-o{
    cursor: pointer;
    color: lightslategrey;
}
.fa-trash-o:hover{
    color: red;
}
