.head{
    border-bottom: 2px solid black;
}
.main{
    background-color: #dadfea;
    height: auto;
    width: 100%;
}
body{
    font-size: 30px;
}
.item{

}
.task{
    border-left: 2px solid black;
    padding-left: 10px;
}